<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="login" id="login-heading">
        Login
      </h1>
      <form id="login-form">
        <div class="username-input">
          <label class="username-label" id="username-label">
            Username
          </label>
          <input
            type="text"
            class="username"
            id="username-input"
            placeholder="Enter username or email"
          />
        </div>
        <div class="password-input">
          <label class="password-label" id="password-label">
            Password
          </label>
          <input
            type="password"
            class="password"
            id="password-input"
            placeholder="Enter password"
          />
        </div>
      </form>
      <button id="submit-button">
        Submit
      </button>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
<!-- type="submit" -->
